
.users_container,
.users_left,
.pages {
    display: flex;
    gap: 20px;
}
.users_container {
    margin-bottom: 20px;
}
.users_left {
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.users_img {
    width: 60px;
}
.users_img img {
    width: 100%;
}
.pages {
    list-style-type: none;
}
.page {
    cursor: pointer;
}
.pageActive {
    font-weight: 600;
}