.header {
  grid-area: header;
  background-color: #f6f8ff;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(34, 37, 169, 0.4);
  max-height: 90px;
}
.header__text {
  flex: 1 1 50%;
}
.header__settings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 50%;
}
.header__settings img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
