.app-wrapper {
  display: grid;
  grid-template: auto / 200px 1fr;
  grid-template-areas:
    "nav header"
    "nav content";
  gap: 20px;
  padding-top: 15px;
}
.app-wrapper-content {
  grid-area: content;
}
.container {
  max-width: 1360px;
  box-sizing: content-box;
  margin: 0 auto;
}




